<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/setPhoto.css">
    <title>Set photo</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1 class="title">SELECT YOU PICTURE</h1>
            <div class="opts">
                <div class="opt"><img src="/public/img/user01.png" alt="" onclick="setPhoto('user01')"></div>
                <div class="opt"><img src="/public/img/user02.png" alt="" onclick="setPhoto('user02')"></div>
                <div class="opt"><img src="/public/img/user03.png" alt="" onclick="setPhoto('user03')"></div>
                <div class="opt"><img src="/public/img/user00.png" alt="" onclick="setPhoto('user00')"></div>
            </div>
            <div class="confirm-div">
                <input type="submit" value="CONFIRM">
            </div>
        </div>
    </div>
    <script src="/public/js/setPhoto.js"></script>
</body>
</html>